div#scroll{
    position: fixed;
    top:10px;
}
label {
    font-weight: bold;
}

select {
    border-radius: 4px;
    margin: 4px;
    padding: 3px;
    background: white;
}

button {
    border-radius: 4px;
    margin: 4px;
    padding: 3px;
    background: white;
}

div#help {
    position: relative;
    border-radius: 10px;
    text-align: justify;
    border: 2px solid #606060;
    display: none;
    width:80%;
    padding: 20px;
    background: #FFFFc0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    z-index: 100;
}

button#help {
    margin-left: 100px;
}

table.sched {
    border: 0px solid green;
    border-collapse: collapse;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 20px;
}
table.sched td,th {
    border: 1px solid black;
    width: 50px;
}

table.sched td.holiday {
    border: 4px solid #e80000;
    margin: 4px;
    text-align: center;
    font-size: 70%;
}

table.sched th.noborder {
    border: 0px;
}

table.sched th.month {
    border-left: 1px solid black;
    border-right: 0px;
    border-bottom: 0px;
    border-top: 0px;
}


div#pickerspace {
    width: 100%;
}

div#picker {
    padding: 10px;
    position: fixed;
    background-color: white;
    width: 100%;
    text-align: center;
    z-index: 50;
}
table.picker {
    margin: auto;
    border-collapse: collapse;
}

table.picker td,th {
    text-align: center;
    padding: 5px;
    border: 1px solid black;
}

div.cat {
    display: inline-block;
    width: 40px;
    height: 15px;
    border: 1px solid black;
}

div#configuration {
    display:None;
}

div#configstring {
    border: 1px solid black;
    padding: 5px;
}

textarea#loadstring {
    border: 1px solid black;
    width: 100%;
    height: 100px;
}

.md,div#md {
    background-color: #80c0f0;
}
.scrubbing,div#scrubbing {
    background-color: #ffc090;
}
.physics,div#physics {
    background-color: #ffe8d8;
}
.hi,div#hi {
    background-color: #ffc820;
}
.ionsetup,div#ionsetup {
    background-color: #ffff00;
}
.special,div#special {
    background-color: #e0a0a0;
}
.ts,div#ts{
    background-color: #70e060;
}
.reco,div#reco {
    background-color: #c0ffc0;
}
.ireco,div#ireco {
    background-color: #e8ffc0;
}
