div#filltable {
    width: 100%;
}

table#FillTable {
    width: 100%;
}

table#FillTable td, table#FillTable th {
    padding : 0px 5px 0px 5px;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
}

table#FillTable tr:nth-child(odd) {
    background-color: #EBEBEB;
}
