div#pagetext {
    border: 4px solid #c00000;
    min-height: 500px;
}

div#placeholder {
    height:40px;
}

input#indicourl, input#date, input#shortdesc, textarea {
    width: 400px;
}

textarea {
    height: 80px;
}

input#newPageName {
    width: 300px;
}