body {
    margin: 0px;
}
canvas.large {
    width: 100%;
    height: 50%;
    margin: 0px;
    border: 0px solid black;

}


div#contents {
    position: relative;
}

div#schemeMenu {
    position: absolute;
    left: 3px;
    top: 3px;
}

div#player {
    position: absolute;
    right: 3px;
    top: 3px;
}

div#player .ui-icon {
    display: inline-block;
}

div#player2 {
    position: absolute;
    right: 3px;
    bottom: -3px;
}

div#player2 .ui-icon {
    display: inline-block;
}

div#info {
    border: solid 1px #c0c0c0;
    padding: 10px;
    font-size : 70%;
    position: absolute;
    top: 350px;
    left: 250px;
    display: none;
    text-align: center;
}

div#info td {
    text-align: center;
}

div#info p#schemename {
    text-align: center;
    font-weight: bold;
}

div#info th {
    font-weight: normal;
    padding-bottom: 2px;
}

table#expinfo, table#beaminfo{
    margin: auto;
}

div#schemeTable {
    position: absolute;
    left: 100px;
    top: 0px;
}


div.ui-tooltip{
    max-width: 500px;
}


div#detuning {
    display: none;
    position: absolute;
    width: 80%;
    top: 10px;
    padding: 30px;    
    right: 30px;
    border-radius: 40px;
    border: 5px solid #204020;
    background-color: #C0F0C0;
    z-index: 2;
}

div.phaseplot {
    height: 500px;
    margin-left: 50px;
    margin-top: 50px;
}

div.phaseplotcomment {
    margin-left: 50px;
    margin-bottom: 50px;
    font-size: 80%;
}

table.inputs td {
    padding: 5px;
}

table.inputs td.number input {
    width: 110px;
}

table.phaseinfo td {
    padding-left: 5px;
    padding-right: 5px;
}

p#schemeName {
    text-align: center;
    margin: 50px;
    font-size: 200%;
    font-weight: bold;
}
p#schemeAnnotationText {
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 120%;
    border: 2px solid green;
}