.highcharts-button-box {
  fill: inherit;
}

.highcharts-button {
  fill: #f7f7f7;
  stroke: #cccccc;
  cursor: default;
  stroke-width: 1px;
  transition: fill 250ms;
}

.highcharts-button text {
  fill: #333333;
}

.highcharts-button-hover {
  transition: fill 0ms;
  fill: #e6e6e6;
  stroke: #333333;
}

.highcharts-button-pressed {
  font-weight: bold;
  fill: #e6ebf5;
  stroke: #335cad;
}

.highcharts-button-disabled text {
  fill: #cccccc;
}

.highcharts-button-symbol {
  stroke: #666666;
  stroke-width: 3px;
}

.highcharts-menu {
  border: 1px solid #999999;
  background: #ffffff;
  padding: 5px 0;
  box-shadow: 3px 3px 10px #888;
}

.highcharts-menu-item {
  padding: 0.5em 1em;
  background: none;
  color: #333333;
  cursor: pointer;
  transition: background 250ms, color 250ms;
}

.highcharts-menu-item:hover {
  background: #335cad;
  color: #ffffff;
}

div#fixerwrap {
    position: relative;
}
div#fixer {
    vertical-align: top;
}
div#dateslider {
    margin: 30px 10px 0px 40px;
    display: inline-block;
    width: 85%;
}
div#yearselector {
    display: inline-block;
    vertical-align: top;
    margin-top: 1px;
}
select.topselector {
    height: 23px;
    border: none;
    background-color: #d0d0d0;
    font-size: 110%;
    width: 90px;
}

.fixed {
  position: fixed; 
  top: 0px;
  left: 10px;
  right: 10px;
  z-index: 2;
}

.halfplot {
    display: inline-block;
    height: 500px;
    vertical-align: top;
}

.halfplot:first-child {
    padding-right: 70px;
}

.halfplotrow {
    margin-bottom: 40px;
    padding-top: 40px;
}

table#filltable td, table#ratfilltab td {
    text-align: right;
    padding: 0;
    vertical-align: top;
}

table.filltable tr:nth-child(even) {
    background: #c0c0f0;
}
table.ratfilltab tr:nth-child(even) {
    background: #c0c0f0;
}
